<%- include('./layouts/header'); -%>

<% if (alert) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

<h1>Bem vindo ao <%= title %></h1>
  
<a class="btn btn-primary" href="../criarEspecialidade">Criar Especialidade</a>
<% if(especialidades.length == 0){%>
    <h2>Nenhuma especialidade foi cadastrado</h2>
<%}else{%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Atualizar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <% for(i = 0; i < especialidades.length;i++){ %>
        <tr>
          <th scope="row"><%= especialidades[i].id %></th>
          <td><%= especialidades[i].nome %></td>
          <td><a href="/updateEspecialidade/<%= especialidades[i].id %>" class="btn btn-primary">Atualizar</a></td>
          <td><a href="/deleteEspecialidade/<%= especialidades[i].id %>" class="btn btn-danger">Deletar</a></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>

<%- include('./layouts/footer'); -%>