<%- include('./layouts/header'); -%>

<% if (alert) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

  <h1>Bem vindo ao <%= title %></h1>
  
<a class="btn btn-primary" href="../criarPaciente">Criar Paciente</a>
<% if(pacientes.length == 0){%>
    <h2>Nenhum paciente foi cadastrado</h2>
<%}else{%>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Número da Carteira</th>
            <th scope="col">Plano</th>
            <th scope="col">Especialidade</th>
            <th scope="col">Atualizar</th>
            <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < pacientes.length;i++){ %>
            <tr>
                <th scope="row"><%= pacientes[i].id %></th>
                <td><%= pacientes[i].nomepaciente %></td>
                <td><%= pacientes[i].numerocarteiraplano %></td>
                <td><%= pacientes[i].plano %></td>
                <td><%= pacientes[i].especialidade %></td>
                <td><a href="/updatePaciente/<%= pacientes[i].id %>" class="btn btn-primary">Atualizar</a></td>
                <td><a href="/deletePaciente/<%= pacientes[i].id %>" class="btn btn-danger">Deletar</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <%}%>

<%- include('./layouts/footer'); -%>