<%- include('./layouts/header'); -%>

<% if (alert) { %>
    <h2><%= alert %></h2>
<% } %>
<form method="post" action="/updatePlano/<%= result.id %>">
    <div class="mb-3">
      <label for="nomePlano" class="form-label">Nome da Plano</label>
      <input type="text" class="form-control" id="nomePlano" name="nomePlano" value= <%= result.nome %>>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<%- include('./layouts/footer'); -%>